body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex; /*수직으로 쌓임*/
  flex-direction: column;
  width: 23vw;
  height: 43vw;
  border-radius: 2vw;
  box-shadow: 0.4vw 0.4vw 0.4vw 0.4vw rgb(193, 193, 193);
  min-width: 100px;
  min-height: 200px;
}

.title {
  color: rgb(255, 182, 93);
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 1vw;
  margin-top: 1.5vw;
  margin-bottom: 0;
}

.formInput,
.formUpdate {
  display: flex;
  height: 8vh;
  align-items: center; /*교차축 정렬*/
  justify-content: center; /*주축 정렬*/
}

#inputText {
  border-radius: 0.8vw;
  border: none;
  width: 75%;
  height: 2vw;
  background-color: rgb(255, 225, 170);
  font-size: 1vw;
  outline: none;
}

#inputText::placeholder {
  color: rgb(255, 236, 200);
}

#addBtn {
  border-radius: 100%;
  border: none;
  width: 2vw;
  height: 2vw;
  background-color: rgb(255, 225, 170);
  font-size: 1vw;
  color: rgb(255, 182, 93);
  cursor: pointer;
  margin-left: 0.5vw;
}

hr {
  width: 100%;
  border: thin solid rgb(230, 230, 230);
}

.subTitle {
  color: rgb(255, 182, 93);
  font-size: 1.5vw;
  margin-left: 1vw;
  margin-bottom: 0;
  margin-top: 0;
}

.todo,
.done {
  height: 35vh;
  overflow: auto;
}

.todo::-webkit-scrollbar,
.done::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

#todoList,
#doneList {
  font-size: 1vw;
  cursor: pointer;
}

li {
  margin-bottom: 0.3vw;
}

.deleteBtn {
  border: none;
  background-color: transparent;
  font-size: 1vw;
  cursor: pointer;
}

.todoCount,
.doneCount {
  font-size: 1vw;
  color: rgb(255, 182, 93);
  display: flex;
  justify-content: end;
  margin-right: 1vw;
}
